@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --main-color:   #027581;
    --color-dark:   #1D2231;
    --text-gray:    #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}
#sidebar-toggle {
    display: none;
}

.ti-menu-alt:hover { 
color:#000000;
}


.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color:  #efefef;
    padding: 1rem;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.brand:hover {
    color:black;
}
    

.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 2.0rem;

}

.dashboard-link:hover {
    color: #000000; 
}

.Mainstock-link:hover {
    color: #000000;
}

.Borrowers-link:hover {
    color: black;
}

.Items-link:hover {
    color:black;
}

.Assigning-link:hover {
    color:black;
}

.Timesheet-link:hover {
    color: #000000;
}

.Contacts-link:hover {
    color: #000000;
}

.Accounts-link:hover {
    color: #000000;
}

.sidebar a {
    color:  #fff;
    font-size: .9rem;
}

.sidebar a span:last-child {
    padding-left: .6rem;
}
#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;   
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li  {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 60px;
    width: calc(100% - 60px);
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    width: calc(100% - 240px);
    z-index: 100;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}


.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
   border: 0;
   outline: 0;
   padding: 1rem;
   height: 38px;
}

.social-icons {
    display: flex;
    position: flex;
    align-items: center;
    cursor: pointer;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/Images/Eu.png);
    border-radius: 50%;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dashboard-header {
    color: var(--color-dark);
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dash-header {
    color: var(--color-dark);
    display: flex;
    font-size: 46px ;
    justify-content: center ;
    margin-top: 2rem;
}

.dash-cards {
    display: grid;
    grid-column-gap: 3rem;
}

.card-single {
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}

.card-body h5 {
    color: var(--text-gray);
    font-size: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.2rem;
    margin-top: .5rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: var(--main-color);
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap:1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.activity-card h3 {
    color: var(--text-gray);
    margin: 1rem;

}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: #d2d2d2;
    text-align: left;
}

th, td {
    font-size: .9rem;
    text-align: center;
    padding: 1rem 1rem;
    color: var(--color-dark);    
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even){
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}

.badge.success {
    background: #bbffe1;
    color: rgb(0, 201, 0);
}

.badge.danger {
    background: #ffc4b5;
    color: rgb(255, 47, 47);
}

.badge.info {
    background: #ffe5ca;
    color: rgb(255, 183, 49);
}   

.badge.warning {
    background: rgb(236, 197, 255) ;
    color: rgb(171, 0, 183);
}
.td-team{
    display: flex;
    align-items: center;
}

.img-1,.img-2,.img-3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: -12px;
    border: 1px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/Images/Eu.png);
}

.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5 {
    color: var(--main-color);
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}

.summary-single small {
    color: var(--text-gray);
    font-weight: 700;
}

.bday-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.bday-card {
    padding: 1rem;
}

.bday-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-image: url(/Images/Eu.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: .7rem;
}

.text-center {
   text-align: center;
}

.text-center button {
    background: var(--main-color);
    color: #efefef;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .4rem 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive{
    overflow-x: auto;
}

@media only screen and (max-width:1200px){
    .sidebar{
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;   
    }
    
    .sidebar .sidebar-header,
    .sidebar li  {
        display: flex;
        justify-content: center;
    }
    
    .main-content {
        margin-left: 60px;
    }
    
    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }
    
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;   
    }
    
    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
    }
    
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }
    
    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;        
    }
}

@media only screen and (max-width:860px){
    .dash-cards {
        grid-template-columns:repeat(1, 1fr) ;
        
    }

    .card-single {
        margin-bottom: 2rem;
    }

    .activity-grid {
        display: block;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 7px;
    margin: 0 5px;
  }
  
  .pagination a:hover {
    color: #ffffff;
    transform: scale(1);
    background-color: #000000;
    
  }
  
  .pagination span {
    font-weight: bold;
    margin: 0 5px;
  }
  
  /* Style the dropdown menu */
.dropdown {
    position: absolute;
    display: none;
    margin-top: 20px;
  }
  
  .dropdown ul {
    list-style-type: none;
    margin-top: 30px;
    margin-left:-44px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
  }
  
  .dropdown ul li {
    padding: 5px;
    background-color: #8b8b8b;
    border-radius: 10px;
    margin-top: 3px;
  }

  .dropdown ul li:hover {
    background-color: #393939;
  }
  
  .dropdown ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: center;
  }

  .dropdown ul li a:hover {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }
  
  /* Show the dropdown menu when user-icon is clicked */
  .show {
    display: block;
  }
  
  /* <---------------------------------------------------------Profile-------------------------------------------------------------> */

  .profile-content {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-header {
    margin-bottom: 40px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    background-image: url("/Images/Profile.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }  
  
  .profile-name {
    font-size: 32px;
    color: #333;
  }

  .profile-details {
    background-color: #f5f5f5;
    padding: 20px;
    padding-left: 130px;
    padding-right: 130px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-info-item {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  
  .info-label {
    font-weight: bold;
  }
  
  .info-value {
    color: #666;
  }
  
  