<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home - Data Labs</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/Images/Icon.ico" type="image/x-icon">
  <link href="/CSS/AboutUs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <style>
    /* Footer styles */
    footer {
      background-color: #333;
      /* Black color for the footer background */
      color: #fff;
      /* White color for the links inside the footer */
      padding: 20px;
      text-align: center;
    }

    /* Footer link styles */
    footer a {
      color: #fff;
      /* White color for normal link text */
      text-decoration: none;
      margin: 0 10px;
      /* Add some space between links */
    }

    /* Footer link hover styles */
    footer a:hover {
      text-decoration: underline;
      /* Underline links on hover */
    }
  </style>
</head>

<body>
  <div class="container ">
    <div class="head-both">
      <div class="page-header-container" id="page-header-container">
        <div class="page-header">
          <div class="page-header-title">
            <a href="">
              <h5>DataLabs</h5>
            </a>
          </div>
          <div class="page-header-subtitle">
            <ul class="page-header-subtitle-list">
              <li class="page-header-home">
                <a href="">
                  <span>Home</span>
                </a>
              </li>
              <li class="page-header-contact-us">
                <a href="">
                  <span>Contact Us</span>
                </a>
              </li>
            </ul>
            <div class="page-header-contact-btn">
              <a href="/login">
                <div> Try Login!</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="head reveal">
        <div class="font-head">
          <div class="head-title">
            <h3>About US</h3>
          </div>
          <div class="middle-title">
            <h1>Data Labs</h1>
          </div>
          <div class="title-info">
            <p>Empowering Laboratories with Seamless Stock Management</p>
          </div>
        </div>
        <div class="font-head-imgs">
          <img src="https://selo.b-cdn.net/wp-content/uploads/2022/09/riguv.png">
        </div>
      </div>
    </div>
    <div class="body">
      <div class="body-head reveal">
        <div class="body-head-font">
          <div class="first-body">
            Founded to Digitize Laboratory Stock Management.
          </div>
          <div class="first-body-imgs">
            <img src="/Images/DataLabs1.gif">
          </div>
        </div>
        <div class="body-head-font-2">
          <div class="second-body">
            Data Labs is an innovative laboratory stock management solution
            designed to optimize inventory processes for research facilities. Our comprehensive platform offers
            intuitive features for tracking supplies, managing equipment, and analyzing data.
            With real-time updates and advanced analytics, Data Labs streamlines stock management,
            reduces costs, and enhances efficiency in scientific research.
          </div>
          <div class="body-head-buttons">
            <a href="mailto:care.datalabs@gmail.com">Contact us</a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="second-body-imgs">
            <img src="/Images/DataLabs2.webp">
          </div>
        </div>
      </div>
      <section class="body-head-number reveal">
        <div class="body-head-first-number">
          <span class="body-head-first-number-1" id="number1">
            0
          </span>
          <span class="body-head-first-word">
            K+
          </span>
          <div class="body-head-first-number-info">
            TOTAL INVENTORY
          </div>
        </div>
        <div class="body-head-second-number">
          <span id="number2" class="body-head-second-number-2">
            0
          </span>
          <span class="body-head-second-word">
            %
          </span>
          <div class="body-head-second-number-info">
            EFFICIENCY
          </div>
        </div>
        <div class="body-head-third-number">
          <span id="number3" class="body-head-third-number-3">
            0
          </span>
          <div class="body-head-third-number-info">
            SATISFIED PEOPLE
          </div>
        </div>
      </section>
      <div id="number-exerien" class="value-all reveal">
        <div class="value-about-us">
          <div class="value-about-us-elment">
            Discover What We Bring to the Lab Table!
          </div>
          <div class="value-about-us-elment-detail">
            We Provide Security, Collaborative Features and Efficiency - Revolutionizing Stock Management for Laboratories.
          </div>
        </div>
        <section class="value-about-us-icon">
          <div class="value-about-us-icon-1">
            <div class="img-icon-trs">
              <img src="https://selo.b-cdn.net/wp-content/uploads/2022/09/sykky.png" alt="transparency">
            </div>
            <div class="value-about-us-trans">
              <h4 class="trans">Security</h4>
              <p>Your laboratory's security shield. Trust us to safeguard your data with robust measures, ensuring confidentiality and protection from unauthorized access.</p>
            </div>
          </div>
          <div class="value-about-us-icon-2">
            <div class="img-icon-ex">
              <img src="https://selo.b-cdn.net/wp-content/uploads/2022/09/group.png" alt="Experienced team">
            </div>
            <div class="value-about-us-ex">
              <h4 class="exp">Collaboration</h4>
              <p>Collaboration-driven lab stock management. Streamline workflows, enhance communication, and boost productivity in your laboratory.</p>
            </div>
          </div>
          <div class="value-about-us-icon-3">
            <div class="img-icon-resu">
              <img src="https://selo.b-cdn.net/wp-content/uploads/2022/09/rankings.png" alt="Result garantie">
            </div>
            <div class="value-about-us-resu">
              <h4 class="resu">Top Leaderboard</h4>
              <p> We're the best Lab Stock Management CRUD app compared to other IMS in the market for Colleges/Institues </p>
            </div>
          </div>
        </section>
      </div>

      <section class="card-show reveal" style="display: flex; justify-content: space-between;">
        <div class="card-1">
          <img src="/Images/DataLabs3.gif" alt="" style="width: 770px; height: 400px;">
        </div>
        <div class="card-4">
          <img src="/Images/DataLabs6.gif" alt="" style="width: 770px; height: 400px;">
        </div>
      </section>

      </section>
      <div class="want-to-join reveal">
        <div class="want-to-join-elements">
          <div class="want-to-join-words">
            <div class="want-to-join-words-elements-1">
              Any Queries?
            </div>
            <div class="want-to-join-words-elements-2">
              Do mail us your queries by writing mails to the contact button.
            </div>
          </div>
          <div class="background-icon">
            <img src="https://selo.b-cdn.net/wp-content/uploads/2022/09/efvefdfc.png" alt="">
          </div>
          <div class="button-a">
            <a href="mailto:care.datalabs@gmail.com">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer reveal">
        <div class="footer-top">
          <div class="footer-Selo">
            <h3>Data Labs</h3>
            <p>Make Lab Stock Management Efficient</p>
          </div>
          <div class="footer-email">
            <h3>
              Care.DataLab@gmail.com
            </h3>
            <p>MON–FRI 9AM–6PM</p>
          </div>
          <div class="footer-number">
            <h3>(+91) 8606 578765<h3>
                <p>WhatsApp or Call</p>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-Copyright">
            <p>Copyright ©2023 Data Labs. All rights reserved.</p>
          </div>
          <div class="footer-navbar-menu">
            <ul class="footer-menu">
              <li><a href="#">Home</a></li>
              <li>
                <a href="mailto:care.datalabs@gmail.com">Contact Us</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
<script src="/JS/AboutUsFirst.js"></script>
<script src="/JS/AboutUsSecond.js"></script>

</html>