<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Labs</title>
  <link rel="icon" href="/Images/Icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/CSS/OTP.css">
  <script src="/JS/OTPScript.js" defer></script>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
  </head>

</head>

<body>

  <h1 class="brand-name">Data Labs</h1>

  <div class="animation-area">

    <div class="login-container">
      <div class="screen_wrapper">
        <div class="otp-container">
          <h3 style="margin-top: 10px; margin-bottom: 10px;">Verify Your Account</h3>
          <p style="margin-top: 10px; margin-bottom: 20px; Color: rgb(0, 0, 0);">Enter the code below to confirm your E-mail address.</p>

          <div class="inputs-container">
            <input id="zero" data-number="0" class="otp-input" type="text" placeholder="0" maxlength="1" />
            <input id="one" data-number="1" class="otp-input" type="text" placeholder="0" maxlength="1" />
            <input id="two" data-number="2" class="otp-input" type="text" placeholder="0" maxlength="1" />
            <input id="three" data-number="3" class="otp-input" type="text" placeholder="0" maxlength="1" />
            <input id="four" data-number="4" class="otp-input" type="text" placeholder="0" maxlength="1" />
            <input id="five" data-number="5" class="otp-input" type="text" placeholder="0" maxlength="1" />
          </div>
          <div class="foot-note" style="text-align: center;">
            If you have any issues with the website please contact <a href="mailto:Care.DataLabs@gmail.com">Support DataLabs</a>
          </div>
        </div>
      </div>

    </div>
    <h3 class="invalid-credentials" style="display: none;">Invalid OTP</h3>
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>


</body>

</html>